 * {
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, sans-serif;
 }

 body {
   margin: 0;
   padding: 12px;
   background: #f9f9f9;
 }

 h1 {
   text-align: center;
   color: #2e7d32;
   font-size: 1.6rem;
   margin-bottom: 12px;
 }

 .search-box {
   display: flex;
   justify-content: center;
   flex-basis: 85%;
 }

 .row {
   display: flex;
   align-items: center;
   gap: 8px;
 }

 #addProduct {
   color: #fff;
   background-color: #007AD6;
   border-color: #007AD6;
   flex-basis: 15%;
   max-width: 90px;
   padding: 8px 16px;
 }


 .search-box input {
   width: 100%;
   max-width: 450px;
   padding: 10px 14px;
   border: 1px solid #ccc;
   border-radius: 8px;
   font-size: 1rem;
   outline: none;
 }

 .search-box input:focus {
   border-color: #2e7d32;
   box-shadow: 0 0 4px rgba(46, 125, 50, 0.3);
 }

 /* Lưới sản phẩm */
 #productGrid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   gap: 14px;
 }

 .product-card {
   background: white;
   border-radius: 12px;
   padding: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
   text-align: center;
   transition: transform 0.15s ease;
   /* height: 300px; */
 }

 .product-card:hover {
   transform: scale(1.03);
 }

 .product-card img {
   width: 100%;
   height: auto;
   max-height: 100px;
   object-fit: contain;
   margin-bottom: 8px;
 }

 .product-card .tag {
   width: fit-content;
   float: right;
   background-color: #4CAF50;
   color: white;
   padding: 2px 8px;
   font-size: 12px;
   border-radius: 4px;
   margin-bottom: 5px;
 }

 .product-card .update {
   float: right;
 }

 .product-name {
   color: #333;
   margin-bottom: 6px;
   font-size: 13px;
   font-weight: 600;
 }

 .product-price {
   color: #388e3c;
 }

 .price-label {
   color: #777;
   font-size: 0.9rem;
 }

 #categoryPanel {
   margin-top: 5px;
   margin-right: 10px;
 }

 button {
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   transition: background-color 0.3s, transform 0.2s;
   font-size: 13px;
   padding: 4px 10px;
 }

 #categoryPanel button {
   padding: 5px 10px;
   margin: 2px 2px;
   font-size: 12px;
 }

 #categoryPanel .active {
   background-color: #b1dfba;
   color: #043b06;
   font-weight: 600;
 }

 button:hover {
   background-color: #45a049;
   transform: scale(1.05);
 }

 button.active {
   background-color: #1b281c;
 }

 .container {
   display: flex;
   height: 100vh;
   overflow: hidden;
 }

 #productGrid {
   flex: 1;
   overflow-y: auto;
   height: 100%;
   display: grid;
   align-content: flex-start;
 }

 #categoryPanel {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 6px;
   overflow-y: auto;
   min-height: 0;
   background: #eceded !important;
 }

 #categoryPanel>div {
   display: flex;
   align-items: center;
 }

 #categoryPanel>div>img {
   margin-right: 5px;
 }

 #categoryPanel>div:first-child {
   grid-column: 1 / -1;
   justify-content: center;
   font-size: 15px;
 }

 @media (max-width: 600px) {
   html {
     font-size: 12px;
   }

   h1 {
     font-size: 1.3rem;
   }

   #productGrid {
     grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
     gap: 5px;
   }

   #categoryPanel {
     flex: 0 0 150px;
   }

   #productGrid {
     flex: 1;
   }
 }

 @media (max-width: 400px) {
   html {
     font-size: 11px;
   }

   h1 {
     font-size: 1.3rem;
   }

   #productGrid {
     font-size: 12px !important;
     /* grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); */
     gap: 5px;
   }

   #categoryPanel {
     flex: 0 0 150px;
   }

   #productGrid {
     flex: 1;
   }
 }

 /* Modal */
 .modal {
   display: none;
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
 }

 .modal-content {
   background-color: white;
   margin: 50px auto;
   padding: 20px;
   max-width: 320px;
   border-radius: 8px;
   position: relative;
   max-height: 600px;
   overflow-y: auto;
 }

 .modal-content img {
   width: 100%;
   height: 120px;
   object-fit: contain;
   border-radius: 6px;
   margin-bottom: 5px;
 }

 .close {
   position: absolute;
   top: 8px;
   right: 12px;
   cursor: pointer;
   background-color: rgb(138, 136, 136);
 }

 .modal-content input,
 .modal-content textarea {
   width: 100%;
   margin-top: 5px;
   margin-bottom: 5px;
   padding: 5px;
   border-radius: 4px;
   border: 1px solid #ccc;
 }

 #modalBody {
   margin-top: 20px;
   font-size: 15px;
 }

 #backBtn {
   background-color: rgb(138, 138, 138);
 }

 .spinner {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 9999;
   width: 40px;
   height: 40px;
   border: 4px solid #ccc;
   border-top: 4px solid #45a049;
   border-radius: 50%;
   animation: spin 1s linear infinite;
 }

 .hidden {
   display: none;
 }

 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }

   100% {
     transform: rotate(360deg);
   }
 }

 .form-row {
   display: flex;
   gap: 10px;
 }

 .form-group {
   flex: 1;
   display: flex;
   flex-direction: column;
 }

 #backToTop,
 #addNew {
   position: fixed;
   bottom: 60px;
   right: 10px;
   background: #4caf50;
   color: #fff;
   border: none;
   border-radius: 50%;
   font-size: 18px;
   cursor: pointer;
   display: none;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   transition: opacity 0.3s ease;
 }

 #backToTop:hover {
   opacity: 0.8;
 }

 #addNew {
   bottom: 10px;
   background: #135fa7;
 }

 #addNew:hover {
   opacity: 0.8;
 }

 #removeUnit {
   background-color: #d32f2f;
 }

 .image-modal {
   display: none;
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.9);
   z-index: 2000;
   /* cao hơn modal sản phẩm */
   justify-content: center;
   align-items: center;
 }

 .image-modal img {
   max-width: 95%;
   max-height: 95%;
 }

 #closeImageViewer {
   position: absolute;
   top: 16px;
   right: 16px;
   color: white;
   background: rgb(131, 131, 131);
   border: none;
   cursor: pointer;
 }